*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(184, 14%, 56%);
  --background-color: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

/* tablet breakpoint */

.logo {
  margin-top: 5rem;
}
/* Calculator styles */

.calc__container {
  background-color: var(--white);
  padding: 3.2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .calc__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 920px;
    gap: 5rem;
  }
}

.calc__input-group {
  margin-bottom: 3.2rem;
  position: relative;
}

.calc__input-group .icon {
  position: absolute;
  left: 15px;
  top: 45px;
}

.calc__input-group .icon2 {
  position: absolute;
  left: 15px;
  top: 24px;
}

label {
  font-size: 1.6rem;
  font-weight: bold;
  color: #5e7a7d;
}

input {
  cursor: pointer;
  font-size: 2.4rem;
  height: 4.8rem;
  border: none;
  background-color: #f3f9fa;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-align: right;
  color: var(--very-dark-cyan);
  border-radius: 5px;
  width: 100%;
  padding-right: 1.9rem;
  margin-top: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#bill:focus,
#people:focus,
#custom:focus {
  outline: none;
  border: 2px solid #26c2ae;
}

.calc__error {
  display: flex;
  justify-content: space-between;
}

.calc__people—error {
  color: red;
  display: none;
}

.calc__title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #5e7a7d;
  margin-bottom: 6px;
}

.calc__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

@media (min-width: 600px) {
  .calc__buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  padding: 6px 1.4px;
  /* display: block; */
}

.btn:hover {
  background-color: #9fe8df;
  color: var(--very-dark-cyan);
}

.btn:focus {
  background-color: #26c2ae;
}

.btn--primary {
  background-color: var(--very-dark-cyan);
  color: white;
}

.btn--reset {
  background-color: #0d686d;
  color: var(--very-dark-cyan);
}

@media (min-width: 600px) {
  .btn--reset {
    margin-top: auto;
  }
}

/* Result styles */

.result__container {
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

@media (min-width: 600px) {
  .result__container {
    padding: 4rem;
  }
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result__title {
  color: var(--white);
  font-size: 1.6rem;
}

.result__text {
  color: #7f9d9f;
  font-size: 1.3rem;
}

.reset {
  width: 100%;
}

.tip-amount,
.total-person {
  font-size: 3.2rem;
  color: #26c2ae;
}

@media (min-width: 600px) {
  .tip-amount,
  .total-person {
    font-size: 4.8rem;
    font-weight: bold;
  }
}
